@using System.Net.Http
@inject HttpClient Http
@inject BrowserService Service

<MudNavMenu Class="bubbles" Style="padding-top: 32px;">
	@if (parent.locations == null)
	{
		<span>Loading menu..</span>
	}
	else
	{
		foreach (var location in parent.locations)
		{
			<MudNavLink Icon="@selected(location.ID)" Style="@bgSelected(location.ID)"
				OnClick="async () =>
						{
							parent.loaded = false;
							parent.selected = location.ID;
							await parent.UpdateLocation(location.ID);
							parent.loaded = true;
						}">
				@location.Name
			</MudNavLink>
		}
	}
</MudNavMenu>

@code {

	[Parameter]
	public MainLayout parent { get; set; }

	private string? selected(int currentId)
	{
		return (currentId == parent.selected ? Icons.Material.Filled.LocalDrink : Icons.Material.Outlined.LocalDrink);
	}

	private string? bgSelected(int currentId)
	{
		return "font-size: 120%;"+ (currentId == parent.selected ? "background-color: rgba(0,0,0,0.15);" : "");
	}
}