{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "DBConnection": "Data Source=(localdb)\\ProjectsV13;Initial Catalog=BigBeerData.Core;Integrated Security=True;Connect Timeout=30;",
    "client_id": "<UNTAPPD_CLIENT_ID>",
    "client_secret": "<UNTAPPD_CLIENT_SECRET>"
    ,
    "FUNCTIONS_HOST": "http://localhost:7071",
    "CLIENT_HOST": "https://localhost:7168"
  }
}
